<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>FRC Scout App</title>
</head>

<body class="bg-gray-100">

    <!-- Navbar -->
    <nav class="bg-indigo-600 text-white p-4">
        <div class="max-w-4xl mx-auto flex justify-between items-center">
            <h1 class="font-bold text-lg">FRC Scout App</h1>
            <h1>EMİRRRRR</h1>
            <a href="scout" class="bg-white text-indigo-600 px-3 py-1 rounded">Yeni Scout</a>
        </div>
    </nav>

    <div class="max-w-4xl mx-auto p-4">

        <h2 class="text-xl font-semibold mb-4">Son Eklenen Maçlar</h2>

        <div id="teamCard" class="flex flex-col divide-y divide-gray-300"></div>

    </div>

    <script>
        const container = document.getElementById("teamCard");

        async function loadMatches() {
            try {
                const res = await fetch("/scout/getmatches");
                if (!res.ok) throw new Error("Sunucudan veri alınamadı");
                const data = await res.json();

                container.innerHTML = "";

                data.forEach(team => {
                    const newDiv = document.createElement("div");
                    newDiv.className = "p-3 hover:bg-gray-50 transition rounded flex justify-between items-center cursor-pointer";

                    newDiv.innerHTML = `
    <span class="font-bold text-indigo-600">Team ${team.team_number}</span>
    <span class="text-gray-700">Match: ${team.match_id}</span>
    <span class="font-medium text-green-600">${team.alliance.toUpperCase()}</span>
  `;

                    container.appendChild(newDiv);

                    newDiv.addEventListener("click", () => {
                        window.open(`detail.html?team_id=${team.team_number}`, "_blank");
                    });

                });


            } catch (err) {
                console.error("Maçlar yüklenemedi:", err);
                container.innerHTML = `<p class="text-red-500">Maçlar yüklenemedi!</p>`;
            }
        }

        loadMatches();

    </script>

</body>

</html>